.footer {
    position: relative;
    margin-top: 5%;
    padding: 180px 16px 48px;
    background-color: #c6d69a;

    background-image:
        url('/resources/images/wwave_background.png'),
        url('/resources/images/footer_background.png');

    background-repeat: no-repeat, no-repeat;

    background-position:
        center -60px,
        center top;

    background-size:
        150% auto,
        cover;
}

.container-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.footer-block {
    text-align: center;
    width: 100%;
}

.footer-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {
    .footer {
        background-position: center -20px, center top;
        background-size: 200% auto, cover;
        min-height: 120px;
    }
}

@media (min-width: 700px) and (max-width: 1600px) {
    .footer {
        background-position: center -100px, center top;
        background-size: 120% auto, cover;
        min-height: 160px;
    }
}

@media (min-width: 1600px) {
    .footer {
        background-position: center -130px, center top;
        background-size: cover, cover;
        min-height: 160px;
    }
}

@media (min-width: 1800px) {
    .footer {
        background-position: center -140px, center top;
        background-size: cover, cover;
        min-height: 180px;
    }
}

@media (min-width: 768px) {
    .footer {
        background-position:
            center -160px,
            center top;
        background-size: cover, cover;
    }

    .footer-columns {
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 20px;
    }

    .footer-block {
        width: auto;
        text-align: left;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.social-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 8px 20px;

    border: 1px solid #000;
    border-radius: 27.5px;

    text-transform: uppercase;
    text-decoration: none;
    color: #000;

    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    transition: 0.2s ease-in-out;
}

.social-btn img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.social-btn:hover {
    background: #000;
    color: #fff;
}

@media (min-width: 768px) {
    .social-btn {
        padding: 8px 24px;
        font-size: 13px;
    }

    .social-btn img {
        width: 16px;
        height: 16px;
    }
}
