header-banner {
    width: 100%;
    min-height: 150px;
    height: 150px;
    background-image: url('../images/header_banner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: 20px;
}


.header-content {
    text-align: center;
    padding: 16px 12px;
}


.header-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 8px;
}


.header-subtitle {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}


@media (min-width: 480px) { .header-banner { height: 220px; } }
@media (min-width: 768px) { .header-banner { height: 280px; } }
@media (min-width: 1024px) { .header-banner { height: 320px; } }
@media (min-width: 1280px) { .header-banner { height: 380px; } }