@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import 'bootstrap/scss/bootstrap';

@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';

@import 'layout/header';
@import 'layout/footer';

@import 'sections/filters';
@import 'sections/results';
@import 'sections/reverse';
@import 'sections/images';
@import 'sections/register';


:root {
    --black: #000000;
    --white: #ffffff;
    --container-max: 1296px;
}

body {
    font-family: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: var(--black);
    background: #fff !important;
}

.logo img {
  height: 20px;
  width: auto;
}

@media (min-width: 640px) {
  .logo img {
    height: 10px;
  }
}

@media (min-width: 1024px) {
  .logo img {
    height: 12px;
  }
}

@media (min-width: 1440px) {
  .logo img {
    height: 14px;
  }
}


@media (min-width: 1920px) {
  .logo img {
    height: 16px;
  }
}


@media (min-width: 640px) {
  .logo img {
    height: 18px;
  }
}

@media (min-width: 1024px) {
  .logo img {
    height: 20px;
  }
}

@media (min-width: 1440px) {
  .logo img {
    height: 24px;
  }
}

@media (min-width: 1920px) {
  .logo img {
    height: 26px;
  }

}
.navbar-nav{
    display: flex;
    justify-content: center !important;
    align-items: center !important;

}

.navbar-nav {
    gap: 12px;
}

@media (min-width: 640px) {
    .navbar-nav {
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .navbar-nav {
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    .navbar-nav {
        gap: 48px;
    }
}

@media (min-width: 1920px) {
    .navbar-nav {
        gap: 64px;
    }
}

.container-centered {
    max-width: var(--container-max);
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.custom-select, .custom-input{
  background-color: #E9E9E9;
  border: none !important;
  height: 51px !important;
  max-width: 290px;
}


