@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import 'bootstrap/scss/bootstrap';

@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';

@import 'layout/header';
@import 'layout/footer';


@import 'sections/filters';
@import 'sections/results';
@import 'sections/reverse';
@import 'sections/images';
@import 'sections/register';


:root {
    --black: #000000;
    --white: #ffffff;
    --container-max: 1296px;
}


body {
    font-family: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: var(--black);
    background: #fff;
}


.container-centered {
    max-width: var(--container-max);
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-custom {
  @extend .btn;
  background-color: #000000;
  border-radius: 27.5px;
  border: 1px solid #000000;
  width: 237px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: transparent;
    color: #000000;
  }
}

.header-banner {
    width: 100%;
    min-height: 150px;
    height: 150px;
    background-image: url('../images/header_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;

    @media (min-width: 480px) {
        height: 220px;
    }

    @media (min-width: 768px) {
        height: 340px;
    }

    @media (min-width: 1024px) {
        height: 480px;
    }

    @media (min-width: 1280px) {
        height: 560px;
    }
}

.banner-content {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px 35px;
    border-radius: 10px;
}
