@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import 'bootstrap/scss/bootstrap';

@import 'components/buttons';
@import 'components/inputs';
@import 'components/cards';

@import 'layout/header';
@import 'layout/footer';

@import 'sections/filters';
@import 'sections/results';
@import 'sections/reverse';
@import 'sections/images';
@import 'sections/register';


:root {
    --black: #000000;
    --white: #ffffff;
    --container-max: 1296px;
}

body {
    font-family: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: var(--black);
    background: #fff !important;
}

.logo img {
  height: 20px;
  width: auto;
}

@media (min-width: 640px) {
  .logo img {
    height: 10px;
  }
}

@media (min-width: 1024px) {
  .logo img {
    height: 12px;
  }
}

@media (min-width: 1440px) {
  .logo img {
    height: 14px;
  }
}


@media (min-width: 1920px) {
  .logo img {
    height: 16px;
  }
}


@media (min-width: 640px) {
  .logo img {
    height: 18px;
  }
}

@media (min-width: 1024px) {
  .logo img {
    height: 20px;
  }
}

@media (min-width: 1440px) {
  .logo img {
    height: 24px;
  }
}

@media (min-width: 1920px) {
  .logo img {
    height: 26px;
  }

}
.navbar-nav{
    display: flex;
    justify-content: center !important;
    align-items: center !important;

}

.navbar-nav {
    gap: 12px;
}

@media (min-width: 640px) {
    .navbar-nav {
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .navbar-nav {
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    .navbar-nav {
        gap: 48px;
    }
}

@media (min-width: 1920px) {
    .navbar-nav {
        gap: 64px;
    }
}

.container-centered {
    max-width: var(--container-max);
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-custom {
  @extend .btn;
  background-color: #000;
  border-radius: 27.5px;
  border: 1px solid #000;
  border: 1px solid #000000;
  padding: 10px 18px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .8rem;
  gap: 10px;

  img {
    width: 18px;
    height: auto;
  }

  &:hover {
    background-color: transparent;
    color: #000;
  }

  @media (min-width: 768px) {
    padding: 16px 40px;
    font-size: .9rem;

    img {
      width: 20px;
    }
  }
}

.tag-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 42px;
  background: transparent;
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;

  img {
    width: 18px;
    height: auto;
  }

  @media (min-width: 768px) {
    padding: 10px 28px;
    font-size: 1rem;

    img {
      width: 20px;
    }
  }
}

.header-banner {
    width: 100%;
    min-height: 150px;
    height: 150px;
    background-image: url('../images/header_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;

    @media (min-width: 480px) {
        height: 220px;
    }

    @media (min-width: 768px) {
        height: 340px;
    }

    @media (min-width: 1024px) {
        height: 480px;
    }

    @media (min-width: 1280px) {
        height: 560px;
    }
}

.banner-content {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px 35px;
    border-radius: 10px;
}

.custom-select, .custom-input{
  background-color: #E9E9E9;
  border: none !important;
  height: 51px !important;
}