.register-section {
    margin-top: 32px;
    text-align: center;
}

.register-title { 
    font-weight: 700; font-size: 36px; margin-bottom: 12px;
 }

.register-form {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-form .row { 
    display: flex; flex-direction: column; gap: 12px; 
}

.register-form label { 
    font-weight: 700; font-size: 14px;
 }

.checkbox-privacy { 
    display: flex; align-items: center; gap: 8px;
 }

@media (min-width: 768px) {
    .register-form .row { 
        flex-direction: row; gap: 12px;
    }
    .register-form .col-2 { 
        flex: 1;
    }
}

.custom-check {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #E9E9E9;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid #ccc;
}

.custom-check:checked {
    background-color: #086e08;
    border-color: #7fa7ad;
}

.dropdown-wrapper {
    width: 100%;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    display: none;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #007bff;
    color: white;
}


.popup-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

.popup-content p {
    margin: 0;
    font-size: 16px;
}
