.reverse-section {
margin-top: 32px;
text-align: center;
}


.reverse-title { font-weight: 700; font-size: 24px; margin-bottom: 12px; }


.reverse-box {
max-width: 1296px;
margin-left: auto;
margin-right: auto;
padding: 20px;
}


.reverse-text {
font-weight: 400;
font-size: 16px;
text-align: justify;
}