#logistica {
  position: relative;
  padding: 5px 5px 5px 5px;
  min-height: 650px;
  background-image: url('../images/rever-logistics-background_mobile.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}


#galeria {
  width: calc(100%);
  margin: 0 auto;
}


.gallery-box {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}

.gallery-title {
  font-size: 20px;
}

.gallery-text {
  font-size: 14px;
}

.gallery-cards {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;

  width: 100px;
  height: 130px;
}

.gallery-item::before {
  content: attr(data-number);
  position: absolute;
  top: 12px;
  left: 12px;

  padding-left: 24px;

  font-size: 14px;
  font-weight: 700;
  color: #0a0;

  background: url('../images/green_recycle_icon.png') no-repeat left center;
  background-size: 18px;

  z-index: 3;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-middle {
  display: flex;
  flex-direction: column;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  width: 260px;
  height: 200px;
  flex-direction: row;
  
}

.gallery-text-side {
  padding: 8px;
  text-align: left;
  color: #fff;
  width: 90%;
  margin-top: 30px;
}

.gallery-text-side h3 {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #fff;
}

.gallery-text-side p {
  font-size: 10px;
  line-height: 1.4;
  color: #ddd;
}

.gallery-image-side {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.gallery-image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) {
  #logistica {
    padding: 220px 16px 40px 16px;
  }
  .gallery-cards {
    gap: 8px;
  }

  .gallery-item {
    width: 180px;
    height: 220px;
  }

  .gallery-middle {
    width: 260px;
    height: 200px;
    flex-direction: row;
  }

  .gallery-image-side {
    width: 49%;
    height: 100%;
  }

  .gallery-text-side {
    width: 61%;
    padding: 20px;
  }

  .gallery-text-side h3 {
    font-size: 18px;
  }

  .gallery-text-side p {
    font-size: 14px;
  }
}

@media (min-width: 1025px) {

  .gallery-item {
    width: 200px;
    height: 280px;
  }

  .gallery-middle {
    width: 620px;
    height: 280px;
    flex-direction: row;
  }

  .gallery-image-side {
    width: 49%;
  }

  .gallery-text-side {
    width: 65%;
    padding: 28px;
  }

  .gallery-text-side h3 {
    font-size: 22px;
  }

  .gallery-text-side p {
    font-size: 14px;
  }
}
