#logistica {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 500px;
    background-image: url('..//images/background_grey.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 500px;
    background-image: url('..//images/background_grey.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
}

.gallery-box {
  width: 60%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: transparent;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.gallery-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
