#resultados {

    .results-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .results-box {
        width: calc(33.33% - 20px);
        min-width: 260px;
        min-height: 150px;
        border: 1px solid #C6D69A;
        border-radius: 10px;
        background: #ffffff;
    }

    @media (max-width: 992px) {
        .results-box {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 600px) {
        .results-box {
            width: 100%;
        }
    }
}
