btn-filter,
.btn-effect,
.btn-sabermais {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}

.btn-filter {
    width: 100%;
    max-width: 311px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0;
}


.btn-effect {
    width: 100%;
    max-width: 311px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
}


.btn-sabermais {
    width: 100%;
    max-width: 231px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
}


.btn-filter:hover,
.btn-effect:hover,
.btn-sabermais:hover {
    background: var(--black);
    color: var(--white);
}

.btn-inline-md {
    display: block;
    width: 100%;
}


@media (min-width: 768px) {
    .btn-inline-md { 
        display: inline-flex;
    }
}