.result-card {
    width: 100%;
    max-width: 416px;
    min-height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 16px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.result-card .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.result-card .meta {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}